[package]
name = "storage"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
anyhow = { workspace = true }
fs2 = "0.4"
core_service = { workspace = true }
async-trait = { workspace = true }
